@import "tailwindcss";

:root {
  --color-primary-text: #F0F0F0;
  --color-secondary-text: #A0A0A0;
  --color-accent: #FF8C00;
  --color-dark-bg: #1A1A1A;
  --color-accent-hover: #FFA500;
  --font-family-heading: 'Monospace', sans-serif;
  --font-family-body: 'Monospace', sans-serif;
  --line-height-body: 1.7;
}

body {
  background-color: var(--color-dark-bg);
  color: var(--color-primary-text);
  font-family: var(--font-family-body);
  line-height: var(--line-height-body);
}
